<launch>
  <arg name="config" default="$(find carm_a3_tasks)/config/block_grasp.yaml" />
  <arg name="command" default="plan" />
  <arg name="extra_args" default="" />
  <arg name="color" default="" />
  <arg name="launch_camera_stack" default="true" />
  <arg name="launch_camera" default="true" />
  <arg name="launch_color_blocks" default="true" />
  <arg name="launch_image_view" default="true" />
  <arg name="image_view_topic" default="/carm_a3/perception/color_blocks/debug_image" />
  <arg name="launch_motion" default="false" />
  <arg name="motion_allow_motion" default="" />
  <arg name="motion_allow_gripper" default="" />
  <arg name="motion_dry_run" default="" />
  <arg name="motion_auto_ready_on_connect" default="" />
  <arg name="motion_register_callbacks_on_connect" default="" />
  <arg name="motion_pre_ready_delay_s" default="" />
  <arg name="motion_publish_state" default="true" />

  <include if="$(arg launch_camera_stack)" file="$(find carm_a3_tasks)/launch/pregrasp_overview.launch">
    <arg name="launch_motion" value="$(arg launch_motion)" />
    <arg name="launch_camera" value="$(arg launch_camera)" />
    <arg name="launch_color_blocks" value="$(arg launch_color_blocks)" />
    <arg name="launch_image_view" value="$(arg launch_image_view)" />
    <arg name="image_view_topic" value="$(arg image_view_topic)" />
    <arg name="motion_allow_motion" value="$(arg motion_allow_motion)" />
    <arg name="motion_allow_gripper" value="$(arg motion_allow_gripper)" />
    <arg name="motion_dry_run" value="$(arg motion_dry_run)" />
    <arg name="motion_auto_ready_on_connect" value="$(arg motion_auto_ready_on_connect)" />
    <arg name="motion_register_callbacks_on_connect" value="$(arg motion_register_callbacks_on_connect)" />
    <arg name="motion_pre_ready_delay_s" value="$(arg motion_pre_ready_delay_s)" />
    <arg name="motion_publish_state" value="$(arg motion_publish_state)" />
  </include>

  <node name="carm_a3_block_grasp"
        pkg="carm_a3_tasks"
        type="block_grasp.py"
        output="screen"
        args="$(arg command) $(arg extra_args)">
    <rosparam command="load" file="$(arg config)" />
    <param name="perception/target_color" value="$(arg color)" />
  </node>
</launch>
