<launch>
  <arg name="config" default="$(find carm_a3_tasks)/config/grasp_init.yaml" />
  <arg name="launch_camera_stack" default="true" />
  <arg name="launch_camera" default="true" />
  <arg name="launch_color_blocks" default="true" />
  <arg name="launch_image_view" default="true" />
  <arg name="image_view_topic" default="/carm_a3/perception/color_blocks/debug_image" />
  <arg name="launch_motion" default="false" />
  <arg name="motion_allow_motion" default="" />
  <arg name="motion_dry_run" default="" />
  <arg name="motion_auto_ready_on_connect" default="" />
  <arg name="motion_register_callbacks_on_connect" default="" />
  <arg name="motion_pre_ready_delay_s" default="" />

  <rosparam command="load" file="$(arg config)" ns="carm_a3_grasp_init" />

  <include if="$(arg launch_camera_stack)" file="$(find carm_a3_bringup)/launch/readonly_vision_handeye.launch">
    <arg name="launch_camera" value="$(arg launch_camera)" />
    <arg name="launch_color_blocks" value="$(arg launch_color_blocks)" />
    <arg name="launch_motion" value="$(arg launch_motion)" />
    <arg name="motion_allow_motion" value="$(arg motion_allow_motion)" />
    <arg name="motion_dry_run" value="$(arg motion_dry_run)" />
    <arg name="motion_auto_ready_on_connect" value="$(arg motion_auto_ready_on_connect)" />
    <arg name="motion_register_callbacks_on_connect" value="$(arg motion_register_callbacks_on_connect)" />
    <arg name="motion_pre_ready_delay_s" value="$(arg motion_pre_ready_delay_s)" />
  </include>

  <node if="$(arg launch_image_view)"
        name="carm_a3_pregrasp_image_view"
        pkg="image_view"
        type="image_view"
        output="screen"
        args="image:=$(arg image_view_topic)" />
</launch>
