<launch>
  <arg name="driver_config" default="$(find carm_a3_driver)/config/robot.yaml" />
  <arg name="camera_config" default="$(find carm_a3_vision)/config/camera.yaml" />
  <arg name="camera_info_url" default="file://$(find carm_a3_vision)/config/camera_info.yaml" />

  <arg name="launch_driver" default="true" />
  <arg name="launch_robot_model" default="true" />
  <arg name="driver_publish_flange_tf" default="false" />
  <arg name="launch_camera" default="true" />
  <arg name="publish_handeye_tf" default="true" />
  <arg name="launch_motion" default="false" />
  <arg name="motion_config" default="$(find carm_a3_motion)/config/motion.yaml" />
  <arg name="motion_allow_motion" default="" />
  <arg name="motion_dry_run" default="" />

  <include if="$(arg launch_driver)" file="$(find carm_a3_driver)/launch/readonly_state.launch">
    <arg name="config" value="$(arg driver_config)" />
    <arg name="publish_flange_tf" value="$(arg driver_publish_flange_tf)" />
  </include>

  <include if="$(arg launch_robot_model)" file="$(find carm_a3_description)/launch/robot_state_publisher.launch" />

  <include if="$(arg launch_camera)" file="$(find carm_a3_vision)/launch/camera.launch">
    <arg name="config" value="$(arg camera_config)" />
    <arg name="camera_info_url" value="$(arg camera_info_url)" />
  </include>

  <include if="$(arg publish_handeye_tf)" file="$(find carm_a3_calibration)/launch/publish_handeye_tf.launch" />

  <include if="$(arg launch_motion)" file="$(find carm_a3_motion)/launch/safe_motion.launch">
    <arg name="config" value="$(arg motion_config)" />
    <arg name="allow_motion" value="$(arg motion_allow_motion)" />
    <arg name="dry_run" value="$(arg motion_dry_run)" />
  </include>
</launch>
