<launch>
  <arg name="config" default="$(find carm_a3_motion)/config/motion.yaml" />
  <arg name="robot_host" default="" />
  <arg name="robot_port" default="" />
  <arg name="allow_ready" default="" />
  <arg name="allow_servo_enable" default="" />
  <arg name="allow_motion" default="" />
  <arg name="allow_settings" default="" />
  <arg name="allow_gripper" default="" />
  <arg name="dry_run" default="" />
  <arg name="auto_ready_on_connect" default="" />
  <arg name="register_callbacks_on_connect" default="" />
  <arg name="pre_ready_delay_s" default="" />
  <arg name="publish_state" default="" />
  <arg name="state_publish_rate_hz" default="" />
  <arg name="publish_flange_tf" default="" />
  <arg name="use_duration" default="" />
  <arg name="wait_for_motion" default="" />
  <arg name="verify_after_motion" default="" />
  <arg name="verify_timeout_s" default="" />
  <arg name="verify_poll_s" default="" />
  <arg name="verify_joint_tolerance_rad" default="" />
  <arg name="verify_pose_position_tolerance_m" default="" />

  <node
    name="carm_a3_safe_motion"
    pkg="carm_a3_motion"
    type="safe_motion_node"
    output="screen"
    required="true"
    launch-prefix="env LD_LIBRARY_PATH=$(find carm_a3_motion)/../../vendor/arm_control_sdk/lib:$(find carm_a3_motion)/../../vendor/arm_control_sdk/poco/lib:$(optenv LD_LIBRARY_PATH)">
    <rosparam command="load" file="$(arg config)" />
    <param name="robot_host" value="$(arg robot_host)" if="$(eval arg('robot_host') != '')" />
    <param name="robot_port" value="$(arg robot_port)" if="$(eval arg('robot_port') != '')" />
    <param name="allow_ready" value="$(arg allow_ready)" if="$(eval arg('allow_ready') != '')" />
    <param name="allow_servo_enable" value="$(arg allow_servo_enable)" if="$(eval arg('allow_servo_enable') != '')" />
    <param name="allow_motion" value="$(arg allow_motion)" if="$(eval arg('allow_motion') != '')" />
    <param name="allow_settings" value="$(arg allow_settings)" if="$(eval arg('allow_settings') != '')" />
    <param name="allow_gripper" value="$(arg allow_gripper)" if="$(eval arg('allow_gripper') != '')" />
    <param name="dry_run" value="$(arg dry_run)" if="$(eval arg('dry_run') != '')" />
    <param name="auto_ready_on_connect" value="$(arg auto_ready_on_connect)" if="$(eval arg('auto_ready_on_connect') != '')" />
    <param name="register_callbacks_on_connect" value="$(arg register_callbacks_on_connect)" if="$(eval arg('register_callbacks_on_connect') != '')" />
    <param name="pre_ready_delay_s" value="$(arg pre_ready_delay_s)" if="$(eval arg('pre_ready_delay_s') != '')" />
    <param name="publish_state" value="$(arg publish_state)" if="$(eval arg('publish_state') != '')" />
    <param name="state_publish_rate_hz" value="$(arg state_publish_rate_hz)" if="$(eval arg('state_publish_rate_hz') != '')" />
    <param name="publish_flange_tf" value="$(arg publish_flange_tf)" if="$(eval arg('publish_flange_tf') != '')" />
    <param name="use_duration" value="$(arg use_duration)" if="$(eval arg('use_duration') != '')" />
    <param name="wait_for_motion" value="$(arg wait_for_motion)" if="$(eval arg('wait_for_motion') != '')" />
    <param name="verify_after_motion" value="$(arg verify_after_motion)" if="$(eval arg('verify_after_motion') != '')" />
    <param name="verify_timeout_s" value="$(arg verify_timeout_s)" if="$(eval arg('verify_timeout_s') != '')" />
    <param name="verify_poll_s" value="$(arg verify_poll_s)" if="$(eval arg('verify_poll_s') != '')" />
    <param name="verify_joint_tolerance_rad" value="$(arg verify_joint_tolerance_rad)" if="$(eval arg('verify_joint_tolerance_rad') != '')" />
    <param name="verify_pose_position_tolerance_m" value="$(arg verify_pose_position_tolerance_m)" if="$(eval arg('verify_pose_position_tolerance_m') != '')" />
  </node>
</launch>
